<header id="main-header">
  <div>
    <a href="/" id="logo"><span id="logor">K-</span><span id="logob">cook</span></a>
    <nav>
      <ul id="menus">
        <li class="menu-items">
          <a href="/about">About</a>
        </li>
        <li class="menu-items">
          <a href="/contact">Contact </a>
        </li>
        <li class="menu-items">
          <a href="/search">Serach</a>
        </li>

        <% if (locals.loggedIn){ %>

          <li class="menu-items">
            <form action="/logout" method="POST">
              <button id="logout">LogOut</button>
            </form>
          </li>
          <% } %>
            <% if(locals.isAdmin) { %>
              <li class="menu-items">
                <a href="/upload">Upload</a>
              </li>
              <% } %>


      </ul>
    </nav>
    <a href="#side-drawer" onclick="toggling()" class="menu-button">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
</header>
<aside id="side-drawer">
  <header>
    <a href="#" onclick="toggling()" class="menu-button">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </header>
  <nav>
    <ul id="menus">
      <li class="menu-items">
        <a href="/about">About</a>
      </li>
      <span></span>
      <li class="menu-items">
        <a href="/contact">Contact </a>
      </li>
      <span></span>


      <li class="menu-items">
        <a href="/search">Serach</a>
      </li>
      <span></span>
    </ul>
  </nav>
</aside>