<header id="main-header">
  <div>
    <a href="/" id="logo"
      ><span id="logor">K-</span><span id="logob">cook</span></a
    >
    <nav>
      <ul id="menus">
        <li class="menu-items">
          <a href="/about">About</a>
        </li>
        <li class="menu-items">
          <a href="#">Contact </a>
        </li>
        <li class="menu-items">
          <a href="#">LogIn</a>
        </li>
        <li class="menu-items">
          <a href="#">Serach</a>
        </li>
      </ul>
    </nav>
    <a href="#side-drawer" onclick="toggling()" class="menu-button">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
</header>
<aside id="side-drawer">
  <header>
    <a href="#" onclick="toggling()" class="menu-button">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </header>
  <nav>
    <ul id="menus">
      <li class="menu-items">
        <a href="/about">About</a>
      </li>
      <span></span>
      <li class="menu-items">
        <a href="#">Contact </a>
      </li>
      <span></span>
      <li class="menu-items">
        <a href="#">LogIn</a>
      </li>
      <span></span>
      <li class="menu-items">
        <a href="#">Serach</a>
      </li>
      <span></span>
    </ul>
  </nav>
</aside>
