<label for="step" class="upload-item">Step Description</label>
<textarea name="step" id="step" cols="30" rows="10"></textarea class="upload-item">
<input type="file" id="image" name="image" accept=".gif" class="upload-item"/>