<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("includes/head") %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2798057846705714"
      crossorigin="anonymous"></script>
    <title>K-cook | About</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/about.css" />
</head>

<body>
  <%- include("includes/header") %>
    <main>
      <section>
        <div id="container">
          <h2 id="header">
            <span id="logor">K-</span><span id="logob">cook</span>
          </h2>
          <p class="paragraph">
            This webpage is motivated by me wanting to eat Korean food with
            reasonable price. As Korean from Korea, Korean foods in America is
            unnecessarily overpriced. At least in student`s perspective. So I
            made this webpage for people who wants to make Korean food at home.
          </p>
          <h3>Behind design</h3>
          <p class="paragraph">
            I used 4 colors in this website, which is red blue black white. I
            picked these colors because these four colors are used in South
            Korea flag
          </p>
        </div>
      </section>
    </main>
    <footer><%- include("includes/footer") %></footer>
</body>

</html>