<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
    <title>K-cook | contact</title>
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
    <%- include("includes/header") %>
    <main>
      <section>
        <div id="container">
          <h2 id="header">
            <span id="logor">K-</span><span id="logob">cook</span>
          </h2>
          <h3>Email to Developer</h3>
          <a href="mailto: Test@test.com" class="paragraph">Test@test.com</a>
        </div>
      </section>
    </main>
    <footer><%- include("includes/footer") %></footer>
  </body>
</html>
