<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("includes/head") %>
    <script>
      function loadCSS(href, before, media) {
        var doc = window.document;
        var ss = doc.createElement("link");
        var ref = before || doc.getElementsByTagName("script")[0];
        ss.rel = "stylesheet";
        ss.href = href;
        ss.media = "only x";
        ref.parentNode.insertBefore(ss, ref);
        setTimeout(function () {
          ss.media = media || "all";
        });
        return ss;
      }
      // Load the specified stylesheets asynchronously

      loadCSS("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Unbounded:wght@300;700&display=swap");
      loadCSS("/css/header.css");
      loadCSS("/css/footer.css");


    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2798057846705714"
      crossorigin="anonymous"></script>
    <title>K-cook | contact</title>
    <link rel="stylesheet" href="css/about.css" />
</head>

<body>
  <%- include("includes/header") %>
    <main>
      <section>
        <div id="container">
          <h2 id="header">
            <span id="logor">K-</span><span id="logob">cook</span>
          </h2>
          <h3>Email to Developer</h3>
          <a href="mailto:koreacook0207@gmail.com" class="paragraph">koreacook0207@gmail.com</a>
          <h5>Donation is always appreciated, Enjoy the meal!</h5>
          <form action="https://www.paypal.com/donate" method="post" target="_top" id="paypal">
            <input type="hidden" name="business" value="7SQ8BK2YSNTGJ" />
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="Thank you so much for the support" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
              name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </div>

      </section>
    </main>
    <footer><%- include("includes/footer") %></footer>
</body>

</html>