<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("includes/head") %>
    <title>k-cook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"
      defer></script>
    <script src="script/carouseltoggle.js" defer></script>
    <link rel="stylesheet" href="css/carousel.css" />
    <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  <%- include("includes/header") %>
    <main>
      <section>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="image/banchan.jpeg" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Banchan</h5>
                <p>side dishes for you to eat with rice</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="image/jjigae.jpeg" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Jjigae</h5>
                <p>Jjigaes are hot soups when you are cold or hot</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="image/ramyun.jpeg" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Ramyun</h5>
                <p>Ramyun is korean noodle that can be quickly done</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="image/gogi.jpeg" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Gogi</h5>
                <p>
                  Gogi is kind of Banchan but it is meat banchan that count as
                  main dish
                </p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <section id="grid-container">
        <ul>
          <li>
            <div class="card">
              <a href="/banchan">
                <img src="image/banchan.jpeg" alt="" />
                <h3>Banchan</h3>
                <p>Side dish you eat daily</p>
              </a>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="/jjigae">
                <img src="image/jjigae.jpeg" alt="" />
                <h3>Jjigae</h3>
                <p>Soup that so tasty</p>
              </a>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="/ramyun">
                <img src="image/ramyun.jpeg" alt="" />
                <h3>Ramyun</h3>
                <p>Way to eat korean packaged noodle deliciously</p>
              </a>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="/gogi">
                <img src="image/gogi.jpeg" alt="" />
                <h3>Gogi</h3>
                <p>Main Dishes made with meat</p>
              </a>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="/bob">
                <img src="image/rice.jpeg" alt="" />
                <h3>Bob</h3>
                <p>Dishes you can make with rice</p>
              </a>
            </div>
          </li>
          <li>
            <div class="card">
              <a href="/snack">
                <img src="image/tteokbokki.jpeg" alt="" />
                <h3>Snacks</h3>
                <p>Snacks that can appetite eat with beers</p>
              </a>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <footer><%- include("includes/footer") %></footer>
</body>

</html>