<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
    <title>k-cook</title>
  </head>
  <body>
    <%- include("includes/header") %>
    <main></main>
    <footer></footer>
  </body>
</html>
