<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head") %>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2798057846705714"
            crossorigin="anonymous"></script>
        <title>k-cook | Jjigae</title>
        <link rel="stylesheet" href="css/menus.css">
</head>

<body>
    <%- include("includes/header") %>
        <main>
            <h1>Jjigae</h1>

            <section id="container">
                <ul>
                    <% for (jjigae of jjigaes ){ %>
                        <%- include("includes/card",{item:jjigae, uri:"/jjigae"}) %>
                            <% } %>
                </ul>
            </section>

        </main>
        <footer><%- include("includes/footer") %> </footer>
</body>

</html>