<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
    <title>K-cook | LogIn</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <%- include("includes/header") %>
    <main>
      <section>
        <div id="container">
          <h2 id="header">
            <span id="logor">K-</span><span id="logob">cook</span>
          </h2>
          <form action="">
            <input type="text" placeholder="ID" />
            <input type="password" placeholder="password" />
            <button class="btn">Log In</button>
            <a href="#" class="btn">Sign Up</a>
          </form>
        </div>
      </section>
    </main>
    <footer><%- include("includes/footer") %></footer>
  </body>
</html>
