<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head") %>
        <title>k-cook | Search</title>
        <link rel="stylesheet" href="css/menus.css">

        <link rel="stylesheet" href="css/search.css">
</head>

<body>
    <%- include("includes/header") %>
        <main>
            <div id="search">
                <form action="/search" method="GET" id="search-form">
                    <input type="text" placeholder="Search by title" name="keyword">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            <section id="container">
                <% if(recipes.length> 0){ %>
                    <ul>
                        <% for (recipe of recipes){ %>
                            <%- include("includes/card",{item:recipe, uri:recipe.category}) %>
                                <% } %>
                    </ul>
                    <% } %>
                        <% if(recipes.length<=0 ){ %>
                            <h1 id="nores">No result found</h1>
                            <% } %>
            </section>
        </main>


</body>

</html>