<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head") %>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2798057846705714"
            crossorigin="anonymous"></script>
        <title>K-cook | contact</title>
        <link rel="stylesheet" href="css/about.css" />
</head>

<body>
    <%- include("includes/header") %>
        <main>
            <section>
                <div id="container">
                    <h2 id="header">
                        <span id="logor">K-</span><span id="logob">cook</span>
                    </h2>
                    <h3>Successfully uploaded</h3>
                </div>

            </section>
        </main>
        <footer><%- include("includes/footer") %></footer>
</body>

</html>