body {
  font-family: "Open Sans", sans-serif;
  font-family: "Unbounded", cursive;
  background-color: black;
}

main section {
  display: flex;
  justify-content: center;
  text-align: center;
}

#container {
  background-color: white;
  margin-top: 3rem;
  width: 70%;
  min-height: 30rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 3px 8px blue, -3px -3px 8px red;
}
#logor {
  color: red;
}
#logob {
  color: blue;
}
.paragraph {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
}
