#carouselExampleAutoplaying {
  width: 100%;
  height: 40rem;
}
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
}

#carouselExampleAutoplaying img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
#carouselExampleAutoplaying h5,
p {
  color: black;
}
@media (max-width: 48rem) {
  #carouselExampleAutoplaying {
    width: 100%;
    height: 30rem;
  }
}
