body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-family: "Unbounded", cursive;
}

#grid-container {
  background-color: white;
  width: fit-content;

  margin: 5rem auto;
  border-radius: 8px;
  box-shadow: 3px 3px 8px blue, -3px -3px 8px red;
}
#grid-container ul {
  list-style: none;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  text-align: center;
}
.card {
  margin-top: 1rem;
  background-color: black;
  height: 20rem;
  width: 17rem;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 8px blue, -3px -3px 8px red;
}
.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
.card img {
  height: 15rem;
  max-height: 50%;
  width: 100%;
  object-fit: cover;
}
.card h3 {
  color: white;
}
.card p {
  color: white;
  padding: 0.2rem;
}
@media (max-width: 48rem) {
  #grid-container ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
