body {
  background-color: black;
}

#container {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 5rem auto;
  padding: 1rem;
  border-radius: 10px;
}

#logor {
  color: red;
}
#logob {
  color: blue;
}

#container form {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}
#container input {
  width: 20rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
}
#container input:focus {
  background-color: rgb(114, 114, 114);
}

#container button,
.btn {
  width: 20rem;
  margin: 0.5rem;
  padding: 0.5rem;
  font: inherit;
  border: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  box-sizing: border-box;
}
#container button:hover,
.btn:hover {
  background-color: rgb(114, 114, 114);
}
