body {
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
}
#container {
  background-color: white;
  width: fit-content;
  max-width: 70%;
  margin: 5rem auto;
  border-radius: 8px;
  box-shadow: 3px 3px 8px blue, -3px -3px 8px red;
}
#container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  text-align: center;
  gap: 3rem;
}
.menu-item {
  margin-top: 1rem;
  background-color: black;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 8px blue, -3px -3px 8px red;
  overflow: hidden;
}
.menu-item a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu-item img {
  height: 15rem;
  max-height: 50%;
  width: 100%;
  object-fit: cover;
}

.menu-item h2 {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 1.5rem;
  padding: 0.2rem;
}

@media (max-width: 48rem) {
  #container ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
