body {
  background-color: black;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 5rem;
  color: white;
}
#container {
  width: 70%;
  margin: auto;
  background-color: white;
  padding: 4rem;
  margin-top: 3rem;
  border-radius: 10px;
}
#container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container input,
textarea {
  font: inherit;
}
.upload-item {
  margin: 2rem 0;
}
